<div class="col">
  <div class="row">
    <div class="col">
      <button class="btn btn-primary btn-block google" (click)="signInWithModeAndProvider(modes.POPUP,provider.GOOGLE)">
        <i class="fab fa-google"></i>
        Google Login with Popup
      </button>
      <button class="btn btn-primary btn-block facebook"
        (click)="signInWithModeAndProvider(modes.POPUP,provider.FACEBOOK)">
        <i class="fab fa-facebook"></i>
        Facebook Login with Popup
      </button>
      <button class="btn btn-primary btn-block twitter"
        (click)="signInWithModeAndProvider(modes.POPUP,provider.TWITTER)">
        <i class="fab fa-twitter"></i>
        Twitter Login with Popup
      </button>
      <button class="btn btn-primary btn-block github" (click)="signInWithModeAndProvider(modes.POPUP,provider.GITHUB)">
        <i class="fab fa-github"></i>
        GitHub Login with Popup
      </button>
    </div>
    <div class="col">
      <button class="btn btn-primary btn-block google"
        (click)="signInWithModeAndProvider(modes.REDIRECT,provider.GOOGLE)">
        <i class="fab fa-google"></i>
        Google Login with Redirect
      </button>
      <button class="btn btn-primary btn-block facebook"
        (click)="signInWithModeAndProvider(modes.REDIRECT,provider.FACEBOOK)">
        <i class="fab fa-facebook"></i>
        Facebook Login with Redirect
      </button>
      <button class="btn btn-primary btn-block twitter"
        (click)="signInWithModeAndProvider(modes.REDIRECT,provider.TWITTER)">
        <i class="fab fa-twitter"></i>
        Twitter Login with Redirect
      </button>
      <button class="btn btn-primary btn-block github"
        (click)="signInWithModeAndProvider(modes.REDIRECT,provider.GITHUB)">
        <i class="fab fa-github"></i>
        GitHub Login with Redirect
      </button>
    </div>
  </div>
  <hr>
  <div class="row">
    <button class="btn btn-primary btn-block email" (click)="toggleSignInMode()">
      <i class="far fa-envelope"></i>
      {{ authService.signInMode ? 'Sign In ':'Sign Up '}} with Email/Password
    </button>
    <button class="btn btn-primary btn-block phone" (click)="togglePhoneSignIn()">
      <i class="fas fa-phone"></i>
      Login with Phone
    </button>
    <button class="btn btn-primary btn-block anonymous" (click)="signInAnonymously()">
      <i class="fas fa-user-secret"></i>
      Login with Anonymous
    </button>
  </div>
</div>
